.nav {
    height: 80px;
    background-color: $white;

    .nav-container {
        display: flex;
        height: 100%;
        width: 100%;
        padding: $spacing $spacing*1.5;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: $black;
            text-decoration: none;
        }

        .nav-menu {
            position: fixed;
            top: $spacing*8;
            bottom: 0;
            width: 100%;
            left: 0%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: 1s ease-in-out;

            .nav-item {
                text-decoration: none;
                color: $white;
            }
        }

        .nav-input {
            display: none;

            &:checked + .nav-menu {
                background-color: $black;
                clip-path: circle(100% at center);
            }
        }

        .nav-label {
            display: block;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        .nav-container {
            padding: $spacing*2.5 $spacing*4;
        }
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        background-color: #ffffff00;
    }
}